.posts{
          list-style: none;
          max-width: 50rem;
          margin: 1rem auto;
          padding: 1rem 0;
          display: grid;
          gap: 1rem;
          grid-template-columns: repeat(3, 30%);
          justify-content: center;
}

.noPost{
          padding-top: 1rem 10%;
          text-align: center;
          align-items: center;
          color: #ece1fa;
}